Repository ritscc/soukai-2022-1, pull requests merged in 2022-09, with the labels that each got.

#62 総務局の風紀業務方針を執筆しました。
  src/houshin/soumu/02_huki.tex
Labels: 方針, 総務局

#63 総務局の掃除業務方針を執筆しました。
  src/houshin/soumu/03_souzi.tex
Labels: 方針, 総務局

#64 総務局の書記業務方針を執筆しました。
  src/houshin/soumu/04_syoki.tex
Labels: 方針, 総務局

#65 総務局の会内行事方針を執筆しました。
  src/houshin/soumu/05_kainaigyozi.tex
Labels: 方針, 総務局

#66 総務局の備品業務方針を執筆しました。
  src/houshin/soumu/06_bihin.tex
Labels: 方針, 総務局

#67 システム管理局の全体方針を執筆しました
  src/houshin/system/01_zentai.tex
Labels: 方針, システム管理局

#69 システム管理局の局会議方針執筆しました
  src/houshin/system/02_kyokukaigi.tex
Labels: 方針, システム管理局

#70 総務局の全体総括を執筆しました。
  src/soukatsu/soumu/01_zentai.tex
Labels: 総括, 総務局

#71 総務局の風紀業務総括を執筆しました。
  src/soukatsu/soumu/02_huki.tex
Labels: 総括, 総務局

#72 総務局の掃除業務総括を執筆しました。
  src/soukatsu/soumu/03_souzi.tex
Labels: 総括, 総務局

#73 総務局の書記業務総括を執筆しました。
  src/soukatsu/soumu/04_syoki.tex
Labels: 総括, 総務局

#79 システム管理局引継ぎ総括を執筆
  src/soukatsu/system/05_hikitsugi.tex
Labels: 総括, システム管理局

#80 システム管理局新局員方針
  src/houshin/system/06_shinkyokuin.tex
Labels: 方針, システム管理局

#76 システム管理局の全体総括を執筆しました
  src/soukatsu/system/01_zentai.tex
Labels: 総括, システム管理局

#78 一回生総括を執筆しました
  src/soukatsu/1kai.tex
Labels: 総括, 回生

#89 勉強会方針を執筆
  src/houshin/system/03_study.tex
Labels: 方針, システム管理局

#91 サーバ総括を作成
  src/soukatsu/system/04_server.tex
Labels: 総括, システム管理局

#90 サーバ管理方針を作成
  src/houshin/system/04_server.tex
Labels: 方針, システム管理局

#93 立命館の家総括を作成
  src/soukatsu/zentai/06_ritumeihouse.tex
Labels: 総括, 全体

#95 1回生の方針を執筆しました。
  src/houshin/1kai.tex
Labels: 方針, 回生

#100 渉外局Twitter方針を執筆
  src/houshin/syogai/03_twitter.tex
Labels: 方針, 渉外局

#101 渉外局Webサイト方針を執筆
  src/houshin/syogai/04_web.tex
Labels: 方針, 渉外局

#107 3回生方針を執筆
  src/houshin/3kai.tex
Labels: 方針, 回生

#108 シス管引き継ぎ方針を記述
  src/houshin/system/05_hikitsugi.tex
Labels: 方針, システム管理局

#109 運営方針を記述
  src/houshin/zentai/02_unei.tex
Labels: 方針, 全体

#112 財務総括を執筆
  src/soukatsu/kaikei/01_zaimu.tex
Labels: 総括, 会計局

#113 財政総括を執筆
  src/soukatsu/kaikei/02_zaisei.tex
Labels: 総括, 会計局

#114 会計全体方針を執筆
  src/houshin/kaikei/01_zentai.tex
Labels: 方針, 会計局

#115 財務方針を執筆
  src/houshin/kaikei/02_zaimu.tex
Labels: 方針, 会計局

#116 財政方針を執筆
  src/houshin/kaikei/03_zaisei.tex
Labels: 方針, 会計局

#117 全体運営総括を記述
  src/soukatsu/zentai/02_unei.tex
Labels: 総括, 全体

#104 渉外局局会議総括を執筆
  src/soukatsu/syogai/02_kyokukaigi.tex
Labels: 総括, 渉外局

#61 総務局の全体方針を執筆しました。
  src/houshin/soumu/01_zentai.tex
Labels: 方針, 総務局

#74 総務局の会内行事総括を執筆しました。
  src/soukatsu/soumu/05_kainaigyozi.tex
Labels: 総括, 総務局

#75 総務局の備品業務総括を執筆しました。
  src/soukatsu/soumu/06_bihin.tex
Labels: 総括, 総務局

#94 全体総括のwelcomeゼミ総括を執筆しました。
  src/soukatsu/zentai/04_welcom.tex
Labels: 総括, 全体

#96 渉外局全体方針を執筆
  src/houshin/syogai/01_zentai.tex
Labels: 方針, 渉外局

#98 渉外局局会議方針を執筆
  src/houshin/syogai/02_kyokukaigi.tex
Labels: 方針, 渉外局

#102 渉外局アドカレ方針を執筆
  src/houshin/syogai/05_adcale.tex
Labels: 方針, 渉外局

#103 渉外局全体総括を執筆
  src/soukatsu/syogai/01_zentai.tex
Labels: 総括, 渉外局

#105 渉外局ツイッター総括を執筆
  src/soukatsu/syogai/03_twitter.tex
Labels: 総括, 渉外局

#106 渉外局Webサイト総括を執筆
  src/soukatsu/syogai/04_web.tex
Labels: 総括, 渉外局

#110 シス管勉強会総括を記述
  src/soukatsu/system/03_study.tex
Labels: 総括, システム管理局

#111 全体新歓総括を記述
  src/soukatsu/zentai/03_shinkan.tex
Labels: 総括, 全体

#118 全体総括の作成#1
  src/soukatsu/zentai/01_zentai.tex
Labels: 総括, 全体

#119 全体方針の作成#31
  src/houshin/zentai/01_zentai.tex
Labels: 方針, 全体

#120 ハッカソン総括作成#15
  src/soukatsu/kensui/04_hackathon.tex
Labels: 総括, 研究推進局

#121 ３回生総括作成#9
  src/soukatsu/3kai.tex
Labels: 総括, 回生

#128 システム管理局局会議総括を執筆
  src/soukatsu/system/02_kyokukaigi.tex
Labels: 総括, システム管理局

#127 研究推進局のプロジェクト総括を執筆しました #12 (2)
  src/soukatsu/kensui/02_project.tex
Labels: 総括, 研究推進局

#130 研究推進局プロジェクト方針
  src/houshin/kensui/02_project.tex
Labels: 方針, 研究推進局

#132 研究推進局のLT総括を執筆
  src/soukatsu/kensui/03_LT.tex
Labels: 総括, 研究推進局

#133 研究推進局の全体総括を執筆
  src/soukatsu/kensui/01_zentai.tex
Labels: 総括, 研究推進局

#134 けんすい全体方針を執筆しました
  src/houshin/kensui/01_zentai.tex
Labels: 方針, 研究推進局

#135 全体プロジェクト総括を執筆
  src/soukatsu/zentai/05_project.tex
Labels: 総括, 全体

#136 2回生方針を執筆しました
  src/houshin/2kai.tex
Labels: 方針, 回生

#137 全体プロジェクト方針を執筆しました
  src/houshin/zentai/03_project.tex
Labels: 方針, 全体
